@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-regal-blue: #243c5a; 

  --color-custom-purple-600: #5146E2;
  --color-custom-purple-300: #E0E7FF;
  --color-custom-purple-100: #7B75CD;

  --color-custom-light-100: #FFFFFF;
  --color-custom-light-200: #F9FBFC;
  --color-custom-light-800: #DDDDDD;
}



/* HTML: <div class="loader"></div> */
.loader {
  width: 15px;
  aspect-ratio: 1;
  border-radius: 50%;
  animation: l5 1s infinite linear alternate;
}
@keyframes l5 {
    0%  {box-shadow: 20px 0 #000, -20px 0 #0002;background: #000 }
    33% {box-shadow: 20px 0 #000, -20px 0 #0002;background: #0002}
    66% {box-shadow: 20px 0 #0002,-20px 0 #000; background: #0002}
    100%{box-shadow: 20px 0 #0002,-20px 0 #000; background: #000 }
}